.panel {
  padding-top: 0;
  border: 1px solid grey;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-default {
  border-color: #ddd;
}

.panel-primary {
  border-color: #337ab7;
}

.panel-success {
  border-color: #d6e9c6;
}

.panel-info {
  border-color: #bce8f1;
}

.panel-warning {
  border-color: #faebcc;
}

.panel-danger {
  border-color: #ebccd1;
}

.panel-heading {
  padding: 0.5em 1em 1em 1em;
  border-bottom: 1px solid;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.panel-heading .panel-title code {
    background-color: rgba(247, 247, 247, 0.55);
}

.panel-default .panel-heading .panel-title code {
    background-color: rgb(237, 237, 237);
}

.panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
}

.panel-primary > .panel-heading {
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;
}

.panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.panel-heading h1,
.panel-heading h2,
.panel-heading h3,
.panel-heading h4,
.panel-heading h5,
.panel-heading h6 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  position: relative;
}

.panel-body {
  padding: 15px;
}
