repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: check-merge-conflict
      - id: check-case-conflict
      - id: check-symlinks
      - id: check-yaml
      - id: fix-byte-order-marker
      - id: check-ast


  # Notebook formatting
  - repo: https://github.com/nbQA-dev/nbQA
    rev: 1.7.1
    hooks:
      - id: nbqa-isort
        additional_dependencies: [ isort ]

      - id: nbqa-pyupgrade
        additional_dependencies: [ pyupgrade ]
        args: [ --py38-plus ]
#
#  - repo: https://github.com/ambv/black
#    rev: 21.9b0
#    hooks:
#      - id: black
#        args: [ --line-length=120 ]
#
  - repo: https://github.com/kynan/nbstripout
    rev: 0.7.1
    hooks:
      - id: nbstripout

